# Proteus temporary files
*.workspace

# Proteus backups
**/Project Backups/
*.bak

# Visual Studio Code settings
.vscode/c_cpp_properties.json
.specstory/

**/__pycache__/
.venv/
.vscode/arduino.json